# imports

In [27]:
import gpxpy
import json
import math
import matplotlib.pyplot as plt
import geopy.distance
import numpy as np
import pandas as pd
import sqlalchemy.sql
from sqlalchemy import create_engine
import getpass
from werkzeug.security import generate_password_hash, check_password_hash
import datetime
import random
import os
import psycopg2

# connect to db

In [28]:
dbuser='ltrgaknf'
passwd = 'N0UBQC-McQo6SyHm5ex6jfXgL3ExvY0O' 
eng = create_engine('postgresql://{0}:{1}@otto.db.elephantsql.com:5432/ltrgaknf'.format(dbuser, passwd))
con = eng.connect()

# constraints

## user age requirement

In [29]:
birth_date = datetime.date(2015, 1, 1) 

password = 'thisistopsecret'
password_hash = generate_password_hash(password)


row = {'username': 'tooyoung', 'password_hash': password_hash, 'birth_date': birth_date}
try:
    cmd = sqlalchemy.sql.text('''INSERT INTO users(username, password, birth_date)\
    VALUES (:username, :password_hash, :birth_date)''')
    con.execute(cmd, row)
except Exception as e:
    print(e)

(psycopg2.errors.CheckViolation) new row for relation "users" violates check constraint "check_age"
DETAIL:  Failing row contains (51, tooyoung, pbkdf2:sha256:50000$ygsJgqmq$4d39c8fd4686fee5bc2025448b235603217..., 2015-01-01, f).
 [SQL: 'INSERT INTO users(username, password, birth_date)    VALUES (%(username)s, %(password_hash)s, %(birth_date)s)'] [parameters: {'username': 'tooyoung', 'password_hash': 'pbkdf2:sha256:50000$ygsJgqmq$4d39c8fd4686fee5bc2025448b2356032174bb323200a17bc3b81c3f45f9a6f0', 'birth_date': datetime.date(2015, 1, 1)}] (Background on this error at: http://sqlalche.me/e/gkpj)

In [30]:
con.execute('''SELECT user_id, username
            FROM users
            WHERE username='tooyoung' 
            ''').fetchall()

[]

## insert not a coach to runner_has_coach

In [31]:
#select a user that is not a coach
con.execute('''SELECT user_id, username
            FROM users
            WHERE coach_bool=False
            LIMIT 2''').fetchall()

[(1, 'user1'), (2, 'user2')]

In [32]:
try:
    con.execute('''INSERT INTO runner_has_coach (runner_user_id, coach_user_id)
                VALUES (2, 1);''')
except Exception as e:
    print(e)

(psycopg2.errors.RaiseException) user must be a coach
CONTEXT:  PL/pgSQL function check_is_coach() line 4 at RAISE
 [SQL: 'INSERT INTO runner_has_coach (runner_user_id, coach_user_id)\n                VALUES (2, 1);'] (Background on this error at: http://sqlalche.me/e/2j85)

In [33]:
con.execute('''SELECT coach_user_id
            FROM runner_has_coach
            WHERE coach_user_id = 1''').fetchall()

[]

## insert duplicate into runner_coach

In [34]:
con.execute('''SELECT runner_user_id, coach_user_id
            FROM runner_has_coach
            ''').fetchall()

[(9, 10),
 (8, 10),
 (7, 10),
 (6, 10),
 (5, 10),
 (4, 10),
 (3, 10),
 (2, 10),
 (19, 20),
 (18, 20),
 (17, 20),
 (16, 20),
 (15, 20),
 (29, 30),
 (28, 30),
 (27, 30),
 (39, 40),
 (38, 40),
 (37, 40),
 (36, 40),
 (35, 40),
 (49, 50),
 (48, 50),
 (47, 50),
 (46, 50),
 (45, 50),
 (44, 50),
 (43, 50),
 (42, 50)]

In [35]:
try:
    con.execute('''INSERT INTO runner_has_coach (runner_user_id, coach_user_id)
                VALUES (9, 10);''')
except Exception as e:
    print(e)

(psycopg2.errors.RaiseException) duplicate runner-coach set
CONTEXT:  PL/pgSQL function check_is_coach() line 8 at RAISE
 [SQL: 'INSERT INTO runner_has_coach (runner_user_id, coach_user_id)\n                VALUES (9, 10);'] (Background on this error at: http://sqlalche.me/e/2j85)

In [36]:
con.execute('''SELECT runner_user_id, coach_user_id
            FROM runner_has_coach
            ''').fetchall()

[(9, 10),
 (8, 10),
 (7, 10),
 (6, 10),
 (5, 10),
 (4, 10),
 (3, 10),
 (2, 10),
 (19, 20),
 (18, 20),
 (17, 20),
 (16, 20),
 (15, 20),
 (29, 30),
 (28, 30),
 (27, 30),
 (39, 40),
 (38, 40),
 (37, 40),
 (36, 40),
 (35, 40),
 (49, 50),
 (48, 50),
 (47, 50),
 (46, 50),
 (45, 50),
 (44, 50),
 (43, 50),
 (42, 50)]

## delete user coach from users

In [37]:
#show (coach_user_id, # of runners coached) from runner_has_coach
con.execute('''SELECT coach_user_id, count(runner_user_id)
            FROM runner_has_coach
            GROUP BY coach_user_id
            ORDER BY coach_user_id''').fetchall()

[(10, 8), (20, 5), (30, 3), (40, 5), (50, 8)]

In [38]:
con.execute('''DELETE FROM users WHERE user_id = 10''')

In [39]:
#show (coach_user_id, # of runners coached) from runner_has_coach after delete
con.execute('''SELECT coach_user_id, count(runner_user_id)
            FROM runner_has_coach
            GROUP BY coach_user_id
            ORDER BY coach_user_id''').fetchall()

[(20, 5), (30, 3), (40, 5), (50, 8)]

## update user coach to not a coach

In [40]:
#show (coach_user_id, # of runners coached) from runner_has_coach
con.execute('''SELECT coach_user_id, count(runner_user_id)
            FROM runner_has_coach
            GROUP BY coach_user_id
            ORDER BY coach_user_id''').fetchall()

[(20, 5), (30, 3), (40, 5), (50, 8)]

In [41]:
con.execute('''SELECT user_id, coach_bool FROM users WHERE user_id = 20''').fetchall()

[(20, True)]

In [42]:
con.execute('''UPDATE users SET coach_bool=False WHERE user_id = 20''')

In [43]:
con.execute('''SELECT user_id, coach_bool FROM users WHERE user_id = 20''').fetchall()

[(20, False)]

In [44]:
#show (coach_user_id, # of runners coached) from runner_has_coach after delete
con.execute('''SELECT coach_user_id, count(runner_user_id)
            FROM runner_has_coach
            GROUP BY coach_user_id
            ORDER BY coach_user_id''').fetchall()

[(30, 3), (40, 5), (50, 8)]

# update run to not a race

In [45]:
#find run that is race
con.execute('''SELECT run_id, runner_id, race_bool, race_id
            FROM runs 
            WHERE race_bool = True
            LIMIT 5''').fetchall()

[(1, 1, True, 0),
 (3, 1, True, 2),
 (4, 1, True, 4),
 (8, 1, True, 6),
 (11, 1, True, 10)]

In [46]:
#set run race_bool to false
con.execute('''UPDATE runs 
            SET race_bool=False 
            WHERE run_id = 1''')

In [47]:
#trigger should update race_id to -1
con.execute('''SELECT run_id, runner_id, race_bool, race_id
            FROM runs 
            WHERE run_id = 1
            ''').fetchall()

[(1, 1, False, -1)]

# disconnect from db

In [48]:
con.close()