# imports

In [98]:
import gpxpy
import json
import math
import matplotlib.pyplot as plt
import geopy.distance
import numpy as np
import pandas as pd
import sqlalchemy.sql
from sqlalchemy import create_engine
import getpass
from werkzeug.security import generate_password_hash, check_password_hash
import datetime
import random
import os
import psycopg2

# connect to db

In [99]:
dbuser='ltrgaknf'
passwd = 'N0UBQC-McQo6SyHm5ex6jfXgL3ExvY0O' 
eng = create_engine('postgresql://{0}:{1}@otto.db.elephantsql.com:5432/ltrgaknf'.format(dbuser, passwd))
con = eng.connect()

# queries

## runner-user perspective

In [100]:
#user 1 most recent 5 runs
con.execute('''SELECT 
            CONCAT('Distance (mi): ', distance), 
            CONCAT('Duration (HH:MM:SS): ', duration), 
            CONCAT('Pace (min/mi): ', pace), 
            CONCAT('Date: ', date)
            FROM runs
            WHERE runner_id=1 
            ORDER BY date DESC
            LIMIT 5
            ''').fetchall()

[('Distance (mi): 8.09', 'Duration (HH:MM:SS): 01:04:50', 'Pace (min/mi): 8.29', 'Date: 2021-04-22'),
 ('Distance (mi): 7.1', 'Duration (HH:MM:SS): 00:58:41', 'Pace (min/mi): 8.35', 'Date: 2021-04-15'),
 ('Distance (mi): 7.1', 'Duration (HH:MM:SS): 00:58:41', 'Pace (min/mi): 8.35', 'Date: 2021-04-15'),
 ('Distance (mi): 6.01', 'Duration (HH:MM:SS): 00:49:07', 'Pace (min/mi): 8.31', 'Date: 2021-04-08'),
 ('Distance (mi): 4.09', 'Duration (HH:MM:SS): 00:33:22', 'Pace (min/mi): 8.21', 'Date: 2021-03-18')]

In [101]:
#user 1 summary stats from last 3 months
con.execute('''SELECT 
            CONCAT('Total Distance (mi): ', SUM(distance)), 
            CONCAT('Total Duration (HH:MM:SS): ', SUM(duration)), 
            CONCAT('Average Pace (min/mi): ', AVG(pace))
            FROM runs
            WHERE runner_id=1 AND date > CURRENT_DATE - INTERVAL '3 months'
            ''').fetchall()

[('Total Distance (mi): 60.03', 'Total Duration (HH:MM:SS): 08:13:26', 'Average Pace (min/mi): 8.40555561913384')]

In [202]:
#user 1 summary stats from 3 months before most recent race
con.execute('''SELECT 
            CONCAT('Total Distance (mi): ', SUM(distance)), 
            CONCAT('Total Duration (HH:MM:SS): ', SUM(duration)), 
            CONCAT('Average Pace (min/mi): ', AVG(pace))
            FROM runs
            WHERE runner_id=1 AND 
            date > (SELECT date FROM runs WHERE runner_id=1 AND race_bool = True ORDER BY date DESC LIMIT 1) - INTERVAL '3 months'
            ''').fetchall()

[('Total Distance (mi): 67.27', 'Total Duration (HH:MM:SS): 09:25:26', 'Average Pace (min/mi): 8.66400003433228')]

## coach-user perspective

In [142]:
#find coach user ids
con.execute('''SELECT 
            CONCAT('Coach ID: ', user_id)
            FROM users
            WHERE coach_bool=True 
            ''').fetchall()

[('Coach ID: 30',), ('Coach ID: 40',), ('Coach ID: 50',)]

In [144]:
#find runners coached by coach_user_id 30
con.execute('''SELECT 
            CONCAT('Coach ID: ', coach_user_id),
            CONCAT('Runner ID: ', runner_user_id)
            FROM runner_has_coach
            WHERE coach_user_id=30
            ''').fetchall()

[('Coach ID: 30', 'Runner ID: 29'),
 ('Coach ID: 30', 'Runner ID: 28'),
 ('Coach ID: 30', 'Runner ID: 27')]

In [133]:
#find recent activities of runners coached by coach_user_id 30
con.execute('''SELECT runner_id, username,
            CONCAT('Distance (mi): ', distance), 
            CONCAT('Duration (HH:MM:SS): ', duration), 
            CONCAT('Pace (min/mi): ', pace), 
            CONCAT('Date: ', date)
            FROM runs
            JOIN users
            on runner_id = user_id
            WHERE runner_id IN
            (SELECT runner_user_id
            FROM runner_has_coach
            WHERE coach_user_id=30)
            ORDER BY date
            LIMIT 5
            ''').fetchall()

[(27, 'user27', 'Distance (mi): 5.09', 'Duration (HH:MM:SS): 00:41:57', 'Pace (min/mi): 8.52', 'Date: 2020-07-11'),
 (28, 'user28', 'Distance (mi): 5.09', 'Duration (HH:MM:SS): 00:41:57', 'Pace (min/mi): 8.52', 'Date: 2020-07-11'),
 (27, 'user27', 'Distance (mi): 5.09', 'Duration (HH:MM:SS): 00:41:57', 'Pace (min/mi): 8.52', 'Date: 2020-07-11'),
 (27, 'user27', 'Distance (mi): 5.09', 'Duration (HH:MM:SS): 00:41:57', 'Pace (min/mi): 8.52', 'Date: 2020-07-11'),
 (29, 'user29', 'Distance (mi): 5.09', 'Duration (HH:MM:SS): 00:41:57', 'Pace (min/mi): 8.52', 'Date: 2020-07-11')]

In [200]:
#find summary statistics of runners coached by coach_user_id 30
con.execute('''SELECT runner_id, username, 
            CONCAT('Age: ', DATE_PART('years', AGE(birth_date))) as age,
            CONCAT('Total Distance: ', SUM(distance)), 
            CONCAT('Total Duration: ', SUM(duration)), 
            CONCAT('Average Pace: ', AVG(pace))
            FROM runs
            JOIN users
            on runner_id = user_id
            WHERE runner_id IN
            (SELECT runner_user_id
            FROM runner_has_coach
            WHERE coach_user_id=30)
            AND date > CURRENT_DATE - INTERVAL '3 months'
            GROUP BY runner_id, username, age
            ORDER BY runner_id
            ''').fetchall()

[(27, 'user27', 'Age: 53', 'Total Distance: 100.08', 'Total Duration: 13:49:07', 'Average Pace: 8.42375004291534'),
 (28, 'user28', 'Age: 65', 'Total Distance: 69.53', 'Total Duration: 09:38:06', 'Average Pace: 8.50363636016846'),
 (29, 'user29', 'Age: 30', 'Total Distance: 84.98', 'Total Duration: 11:40:28', 'Average Pace: 8.41083327929179')]

## admin perspective

In [156]:
#find races
con.execute('''SELECT DISTINCT race_id, 
            CONCAT('Date: ', date) as date
            FROM runs
            WHERE race_bool = True
            ORDER BY date DESC
            ''').fetchall()

[(10, 'Date: 2021-04-22'),
 (0, 'Date: 2021-04-08'),
 (18, 'Date: 2021-04-01'),
 (24, 'Date: 2021-03-11'),
 (28, 'Date: 2021-02-28'),
 (36, 'Date: 2021-02-13'),
 (38, 'Date: 2021-01-23'),
 (32, 'Date: 2021-01-17'),
 (26, 'Date: 2021-01-02'),
 (12, 'Date: 2020-12-08'),
 (6, 'Date: 2020-12-02'),
 (2, 'Date: 2020-11-04'),
 (16, 'Date: 2020-10-31'),
 (22, 'Date: 2020-10-10'),
 (30, 'Date: 2020-09-22'),
 (14, 'Date: 2020-09-07'),
 (20, 'Date: 2020-09-02'),
 (8, 'Date: 2020-08-01'),
 (4, 'Date: 2020-07-28'),
 (34, 'Date: 2020-07-16')]

In [166]:
#get race results for race_id 10
con.execute('''SELECT runner_id, username, 
            CONCAT('Age (years): ', DATE_PART('years', AGE(birth_date))) as age,
            CONCAT('Time: ', duration)
            FROM runs
            JOIN users
            on runner_id = user_id
            WHERE race_id = 10
            ORDER BY duration
            ''').fetchall()

[(1, 'user1', 'Age (years): 40', 'Time: 01:04:50'),
 (3, 'user3', 'Age (years): 52', 'Time: 01:04:50'),
 (4, 'user4', 'Age (years): 48', 'Time: 01:04:50'),
 (6, 'user6', 'Age (years): 89', 'Time: 01:04:50'),
 (7, 'user7', 'Age (years): 72', 'Time: 01:04:50'),
 (8, 'user8', 'Age (years): 49', 'Time: 01:04:50'),
 (11, 'user11', 'Age (years): 32', 'Time: 01:04:50'),
 (14, 'user14', 'Age (years): 44', 'Time: 01:04:50'),
 (16, 'user16', 'Age (years): 61', 'Time: 01:04:50'),
 (17, 'user17', 'Age (years): 84', 'Time: 01:04:50'),
 (18, 'user18', 'Age (years): 68', 'Time: 01:04:50'),
 (19, 'user19', 'Age (years): 24', 'Time: 01:04:50'),
 (21, 'user21', 'Age (years): 87', 'Time: 01:04:50'),
 (22, 'user22', 'Age (years): 53', 'Time: 01:04:50'),
 (25, 'user25', 'Age (years): 59', 'Time: 01:04:50'),
 (26, 'user26', 'Age (years): 57', 'Time: 01:04:50'),
 (27, 'user27', 'Age (years): 53', 'Time: 01:04:50'),
 (28, 'user28', 'Age (years): 65', 'Time: 01:04:50'),
 (29, 'user29', 'Age (years): 30', 'Time: 01:04:50'),
 (33, 'user33', 'Age (years): 29', 'Time: 01:04:50'),
 (34, 'user34', 'Age (years): 64', 'Time: 01:04:50'),
 (37, 'user37', 'Age (years): 79', 'Time: 01:04:50'),
 (41, 'user41', 'Age (years): 51', 'Time: 01:04:50'),
 (42, 'user42', 'Age (years): 36', 'Time: 01:04:50'),
 (43, 'user43', 'Age (years): 57', 'Time: 01:04:50'),
 (44, 'user44', 'Age (years): 87', 'Time: 01:04:50'),
 (45, 'user45', 'Age (years): 39', 'Time: 01:04:50'),
 (46, 'user46', 'Age (years): 90', 'Time: 01:04:50'),
 (47, 'user47', 'Age (years): 70', 'Time: 01:04:50'),
 (48, 'user48', 'Age (years): 79', 'Time: 01:04:50'),
 (50, 'user50', 'Age (years): 64', 'Time: 01:04:50')]

In [235]:
#get race results for race_id 10 and combine with training statistics
con.execute('''SELECT race_results.runner_id, username, age, duration, train_dist, train_dur, train_pace
            FROM
            (SELECT runner_id, username, 
            CONCAT('Age: ', DATE_PART('years', AGE(birth_date))) as age,
            CONCAT('Race Time: ', duration) as duration
            FROM runs
            JOIN users
            on runner_id = user_id
            WHERE race_id = 10) race_results
            JOIN
            (SELECT runner_id, 
            CONCAT('Train Dist: ', SUM(distance)) as train_dist, 
            CONCAT('Train Time: ', SUM(duration)) as train_dur, 
            CONCAT('Train Pace: ', ROUND(AVG(pace::numeric), 1)) as train_pace
            FROM runs
            WHERE runner_id IN (SELECT runner_id FROM runs WHERE race_id = 10)
            AND date > (SELECT date FROM runs WHERE race_id = 10 LIMIT 1) - INTERVAL '1 months'
            GROUP BY runner_id) training_data
            ON race_results.runner_id = training_data.runner_id
            ORDER BY duration
            ''').fetchall()

[(1, 'user1', 'Age: 40', 'Race Time: 01:04:50', 'Train Dist: 28.3', 'Train Time: 03:51:19', 'Train Pace: 8.3'),
 (3, 'user3', 'Age: 52', 'Race Time: 01:04:50', 'Train Dist: 38.58', 'Train Time: 05:13:15', 'Train Pace: 8.3'),
 (4, 'user4', 'Age: 48', 'Race Time: 01:04:50', 'Train Dist: 42.58', 'Train Time: 05:45:01', 'Train Pace: 8.2'),
 (6, 'user6', 'Age: 89', 'Race Time: 01:04:50', 'Train Dist: 24.48', 'Train Time: 03:19:18', 'Train Pace: 8.3'),
 (7, 'user7', 'Age: 72', 'Race Time: 01:04:50', 'Train Dist: 27.21', 'Train Time: 03:41:45', 'Train Pace: 8.3'),
 (8, 'user8', 'Age: 49', 'Race Time: 01:04:50', 'Train Dist: 36.03', 'Train Time: 04:53:36', 'Train Pace: 8.4'),
 (11, 'user11', 'Age: 32', 'Race Time: 01:04:50', 'Train Dist: 45.79', 'Train Time: 06:13:19', 'Train Pace: 8.3'),
 (14, 'user14', 'Age: 44', 'Race Time: 01:04:50', 'Train Dist: 23.28', 'Train Time: 03:08:21', 'Train Pace: 8.3'),
 (16, 'user16', 'Age: 61', 'Race Time: 01:04:50', 'Train Dist: 14.1', 'Train Time: 01:53:57', 'Train Pace: 8.3'),
 (17, 'user17', 'Age: 84', 'Race Time: 01:04:50', 'Train Dist: 38.94', 'Train Time: 05:15:48', 'Train Pace: 8.3'),
 (18, 'user18', 'Age: 68', 'Race Time: 01:04:50', 'Train Dist: 32.5', 'Train Time: 04:25:46', 'Train Pace: 8.4'),
 (19, 'user19', 'Age: 24', 'Race Time: 01:04:50', 'Train Dist: 48.96', 'Train Time: 06:38:36', 'Train Pace: 8.3'),
 (21, 'user21', 'Age: 87', 'Race Time: 01:04:50', 'Train Dist: 33.77', 'Train Time: 04:35:05', 'Train Pace: 8.3'),
 (22, 'user22', 'Age: 53', 'Race Time: 01:04:50', 'Train Dist: 42.58', 'Train Time: 05:45:01', 'Train Pace: 8.2'),
 (25, 'user25', 'Age: 59', 'Race Time: 01:04:50', 'Train Dist: 14.1', 'Train Time: 01:53:57', 'Train Pace: 8.3'),
 (26, 'user26', 'Age: 57', 'Race Time: 01:04:50', 'Train Dist: 28.93', 'Train Time: 03:54:55', 'Train Pace: 8.4'),
 (27, 'user27', 'Age: 53', 'Race Time: 01:04:50', 'Train Dist: 34.49', 'Train Time: 04:40:11', 'Train Pace: 8.2'),
 (28, 'user28', 'Age: 65', 'Race Time: 01:04:50', 'Train Dist: 30.13', 'Train Time: 04:05:52', 'Train Pace: 8.4'),
 (29, 'user29', 'Age: 30', 'Race Time: 01:04:50', 'Train Dist: 33.95', 'Train Time: 04:37:53', 'Train Pace: 8.4'),
 (33, 'user33', 'Age: 29', 'Race Time: 01:04:50', 'Train Dist: 48.05', 'Train Time: 06:31:50', 'Train Pace: 8.4'),
 (34, 'user34', 'Age: 64', 'Race Time: 01:04:50', 'Train Dist: 34.58', 'Train Time: 04:41:29', 'Train Pace: 8.4'),
 (37, 'user37', 'Age: 79', 'Race Time: 01:04:50', 'Train Dist: 33.49', 'Train Time: 04:31:55', 'Train Pace: 8.4'),
 (41, 'user41', 'Age: 51', 'Race Time: 01:04:50', 'Train Dist: 30.85', 'Train Time: 04:10:58', 'Train Pace: 8.3'),
 (42, 'user42', 'Age: 36', 'Race Time: 01:04:50', 'Train Dist: 25.83', 'Train Time: 03:28:00', 'Train Pace: 8.2'),
 (43, 'user43', 'Age: 57', 'Race Time: 01:04:50', 'Train Dist: 24.48', 'Train Time: 03:19:18', 'Train Pace: 8.3'),
 (44, 'user44', 'Age: 87', 'Race Time: 01:04:50', 'Train Dist: 39.96', 'Train Time: 05:27:00', 'Train Pace: 8.4'),
 (45, 'user45', 'Age: 39', 'Race Time: 01:04:50', 'Train Dist: 36.03', 'Train Time: 04:53:36', 'Train Pace: 8.4'),
 (46, 'user46', 'Age: 90', 'Race Time: 01:04:50', 'Train Dist: 44.59', 'Train Time: 06:02:22', 'Train Pace: 8.3'),
 (47, 'user47', 'Age: 70', 'Race Time: 01:04:50', 'Train Dist: 20.84', 'Train Time: 02:50:05', 'Train Pace: 8.4'),
 (48, 'user48', 'Age: 79', 'Race Time: 01:04:50', 'Train Dist: 48.96', 'Train Time: 06:38:36', 'Train Pace: 8.3'),
 (50, 'user50', 'Age: 64', 'Race Time: 01:04:50', 'Train Dist: 45.61', 'Train Time: 06:13:34', 'Train Pace: 8.4')]

# disconnect from db

In [3]:
con.close()