# imports

In [1]:
import gpxpy
import json
import math
import matplotlib.pyplot as plt
import geopy.distance
import numpy as np
import pandas as pd
import sqlalchemy.sql
from sqlalchemy import create_engine
import getpass
from werkzeug.security import generate_password_hash, check_password_hash
import datetime
import random
import os
import psycopg2

# connect to db

In [2]:
dbuser='ltrgaknf'
passwd = 'N0UBQC-McQo6SyHm5ex6jfXgL3ExvY0O' 
eng = create_engine('postgresql://{0}:{1}@otto.db.elephantsql.com:5432/ltrgaknf'.format(dbuser, passwd))
con = eng.connect()

# queries

## runner-user perspective

In [38]:
#user 1 most recent 5 runs sort by date
con.execute('''SELECT
            CONCAT('Run: ', run_id), 
            CONCAT('Distance(mi): ', distance), 
            CONCAT('Time: ', duration), 
            CONCAT('Date: ', date)
            FROM runs
            WHERE runner_id=1 
            ORDER BY date DESC
            LIMIT 5
            ''').fetchall()

[('Run: 11', 'Distance(mi): 8.09', 'Time: 01:04:50', 'Date: 2021-04-22'),
 ('Run: 6', 'Distance(mi): 7.1', 'Time: 00:58:41', 'Date: 2021-04-15'),
 ('Run: 7', 'Distance(mi): 7.1', 'Time: 00:58:41', 'Date: 2021-04-15'),
 ('Run: 1', 'Distance(mi): 6.01', 'Time: 00:49:07', 'Date: 2021-04-08'),
 ('Run: 18', 'Distance(mi): 4.09', 'Time: 00:33:22', 'Date: 2021-03-18')]

In [95]:
#user 1 summary stats from last 3 months
con.execute('''SELECT
            CONCAT('Runs(#): ', COUNT(run_id)), 
            CONCAT('Total Time: ', SUM(duration)),
            CONCAT('Total Distance(mi): ', SUM(distance)), 
            CONCAT('Total Gain(m): ', SUM(gain)), 
            CONCAT('Average Pace(min/mi): ', SUM(((date_part('seconds', duration)) + (date_part('minutes', duration)*60) + (date_part('hours', duration)*60*60))/60)/SUM(distance)) 
            FROM runs
            WHERE runner_id=1 AND date > CURRENT_DATE - INTERVAL '3 months'
            ''').fetchall()

[('Runs(#): 9', 'Total Time: 08:13:26', 'Total Distance(mi): 60.03', 'Total Gain(m): 926.8', 'Average Pace(min/mi): 8.21977916653745')]

In [97]:
#user 1 summary stats from 3 months before most recent race
con.execute('''SELECT 
            CONCAT('Runs(#): ', COUNT(run_id)), 
            CONCAT('Total Time: ', SUM(duration)),
            CONCAT('Total Distance(mi): ', SUM(distance)), 
            CONCAT('Total Gain(m): ', SUM(gain)), 
            CONCAT('Average Pace(min/mi): ', SUM(((date_part('seconds', duration)) + (date_part('minutes', duration)*60) + (date_part('hours', duration)*60*60))/60)/SUM(distance)) 
            FROM runs
            WHERE runner_id=1 AND 
            date > (SELECT date FROM runs WHERE runner_id=1 AND race_bool = True ORDER BY date DESC LIMIT 1) - INTERVAL '3 months'
            ''').fetchall()

[('Runs(#): 10', 'Total Time: 09:25:26', 'Total Distance(mi): 67.27', 'Total Gain(m): 1244.6', 'Average Pace(min/mi): 8.40543031695348')]

## coach-user perspective

In [98]:
#find coach user ids
con.execute('''SELECT 
            CONCAT('Coach ID: ', user_id)
            FROM users
            WHERE coach_bool=True 
            ''').fetchall()

[('Coach ID: 30',), ('Coach ID: 40',), ('Coach ID: 50',)]

In [99]:
#find runners coached by coach_user_id 30
con.execute('''SELECT 
            CONCAT('Coach ID: ', coach_user_id),
            CONCAT('Runner ID: ', runner_user_id)
            FROM runner_has_coach
            WHERE coach_user_id=30
            ''').fetchall()

[('Coach ID: 30', 'Runner ID: 29'),
 ('Coach ID: 30', 'Runner ID: 28'),
 ('Coach ID: 30', 'Runner ID: 27')]

In [100]:
#find recent activities of runners coached by coach_user_id 30
con.execute('''SELECT 
            runner_id, 
            username,
            CONCAT('Run: ', run_id), 
            CONCAT('Distance(mi): ', distance), 
            CONCAT('Time: ', duration), 
            CONCAT('Date: ', date)
            FROM runs
            JOIN users
            on runner_id = user_id
            WHERE runner_id IN
            (SELECT runner_user_id
            FROM runner_has_coach
            WHERE coach_user_id=30)
            ORDER BY date
            LIMIT 5
            ''').fetchall()

[(27, 'user27', 'Run: 1096', 'Distance(mi): 5.09', 'Time: 00:41:57', 'Date: 2020-07-11'),
 (28, 'user28', 'Run: 1135', 'Distance(mi): 5.09', 'Time: 00:41:57', 'Date: 2020-07-11'),
 (27, 'user27', 'Run: 1079', 'Distance(mi): 5.09', 'Time: 00:41:57', 'Date: 2020-07-11'),
 (27, 'user27', 'Run: 1078', 'Distance(mi): 5.09', 'Time: 00:41:57', 'Date: 2020-07-11'),
 (29, 'user29', 'Run: 1163', 'Distance(mi): 5.09', 'Time: 00:41:57', 'Date: 2020-07-11')]

In [103]:
#find summary statistics of runners coached by coach_user_id 30
con.execute('''SELECT runner_id, username, 
            CONCAT('Age(years): ', DATE_PART('years', AGE(birth_date))) as age,
            CONCAT('Runs(#): ', COUNT(run_id)), 
            CONCAT('Total Time: ', SUM(duration)),
            CONCAT('Total Distance(mi): ', SUM(distance)), 
            CONCAT('Total Gain(m): ', SUM(gain)), 
            CONCAT('Average Pace(min/mi): ', SUM(((date_part('seconds', duration)) + (date_part('minutes', duration)*60) + (date_part('hours', duration)*60*60))/60)/SUM(distance)) 
            FROM runs
            JOIN users
            on runner_id = user_id
            WHERE runner_id IN
            (SELECT runner_user_id
            FROM runner_has_coach
            WHERE coach_user_id=30)
            AND date > CURRENT_DATE - INTERVAL '3 months'
            GROUP BY runner_id, username, age
            ORDER BY runner_id
            ''').fetchall()

[(27, 'user27', 'Age(years): 53', 'Runs(#): 16', 'Total Time: 13:49:07', 'Total Distance(mi): 100.08', 'Total Gain(m): 1830.8', 'Average Pace(min/mi): 8.28453888386514'),
 (28, 'user28', 'Age(years): 65', 'Runs(#): 11', 'Total Time: 09:38:06', 'Total Distance(mi): 69.53', 'Total Gain(m): 1177.8', 'Average Pace(min/mi): 8.31439589695962'),
 (29, 'user29', 'Age(years): 30', 'Runs(#): 12', 'Total Time: 11:40:28', 'Total Distance(mi): 84.98', 'Total Gain(m): 1430.8', 'Average Pace(min/mi): 8.24272419255571')]

## admin perspective

In [102]:
#find races
con.execute('''SELECT DISTINCT race_id, 
            CONCAT('Date: ', date) as date
            FROM runs
            WHERE race_bool = True
            ORDER BY date DESC
            ''').fetchall()

[(10, 'Date: 2021-04-22'),
 (0, 'Date: 2021-04-08'),
 (18, 'Date: 2021-04-01'),
 (24, 'Date: 2021-03-11'),
 (28, 'Date: 2021-02-28'),
 (36, 'Date: 2021-02-13'),
 (38, 'Date: 2021-01-23'),
 (32, 'Date: 2021-01-17'),
 (26, 'Date: 2021-01-02'),
 (12, 'Date: 2020-12-08'),
 (6, 'Date: 2020-12-02'),
 (2, 'Date: 2020-11-04'),
 (16, 'Date: 2020-10-31'),
 (22, 'Date: 2020-10-10'),
 (30, 'Date: 2020-09-22'),
 (14, 'Date: 2020-09-07'),
 (20, 'Date: 2020-09-02'),
 (8, 'Date: 2020-08-01'),
 (4, 'Date: 2020-07-28'),
 (34, 'Date: 2020-07-16')]

In [111]:
#get race results for race_id 10, sort by race time
con.execute('''SELECT runner_id, username, 
            CONCAT('Age(years): ', DATE_PART('years', AGE(birth_date))) as age,
            CONCAT('Race Time: ', duration)
            FROM runs
            JOIN users
            on runner_id = user_id
            WHERE race_id = 10
            ORDER BY duration
            ''').fetchall()

[(1, 'user1', 'Age(years): 40', 'Race Time: 01:04:50'),
 (3, 'user3', 'Age(years): 52', 'Race Time: 01:04:50'),
 (4, 'user4', 'Age(years): 48', 'Race Time: 01:04:50'),
 (6, 'user6', 'Age(years): 89', 'Race Time: 01:04:50'),
 (7, 'user7', 'Age(years): 72', 'Race Time: 01:04:50'),
 (8, 'user8', 'Age(years): 49', 'Race Time: 01:04:50'),
 (11, 'user11', 'Age(years): 32', 'Race Time: 01:04:50'),
 (14, 'user14', 'Age(years): 44', 'Race Time: 01:04:50'),
 (16, 'user16', 'Age(years): 61', 'Race Time: 01:04:50'),
 (17, 'user17', 'Age(years): 84', 'Race Time: 01:04:50'),
 (18, 'user18', 'Age(years): 68', 'Race Time: 01:04:50'),
 (19, 'user19', 'Age(years): 24', 'Race Time: 01:04:50'),
 (21, 'user21', 'Age(years): 87', 'Race Time: 01:04:50'),
 (22, 'user22', 'Age(years): 53', 'Race Time: 01:04:50'),
 (25, 'user25', 'Age(years): 59', 'Race Time: 01:04:50'),
 (26, 'user26', 'Age(years): 57', 'Race Time: 01:04:50'),
 (27, 'user27', 'Age(years): 53', 'Race Time: 01:04:50'),
 (28, 'user28', 'Age(years): 65', 'Race Time: 01:04:50'),
 (29, 'user29', 'Age(years): 30', 'Race Time: 01:04:50'),
 (33, 'user33', 'Age(years): 29', 'Race Time: 01:04:50'),
 (34, 'user34', 'Age(years): 64', 'Race Time: 01:04:50'),
 (37, 'user37', 'Age(years): 79', 'Race Time: 01:04:50'),
 (41, 'user41', 'Age(years): 51', 'Race Time: 01:04:50'),
 (42, 'user42', 'Age(years): 36', 'Race Time: 01:04:50'),
 (43, 'user43', 'Age(years): 57', 'Race Time: 01:04:50'),
 (44, 'user44', 'Age(years): 87', 'Race Time: 01:04:50'),
 (45, 'user45', 'Age(years): 39', 'Race Time: 01:04:50'),
 (46, 'user46', 'Age(years): 90', 'Race Time: 01:04:50'),
 (47, 'user47', 'Age(years): 70', 'Race Time: 01:04:50'),
 (48, 'user48', 'Age(years): 79', 'Race Time: 01:04:50'),
 (50, 'user50', 'Age(years): 64', 'Race Time: 01:04:50')]

In [109]:
#get race results for race_id 10 and combine with training statistics, sort by race time and age
con.execute('''SELECT race_results.runner_id, username, age, duration, train_dist, train_dur, train_pace
            FROM
            (SELECT runner_id, username, 
            CONCAT('Age(years): ', DATE_PART('years', AGE(birth_date))) as age,
            CONCAT('Race Time: ', duration) as duration
            FROM runs
            JOIN users
            on runner_id = user_id
            WHERE race_id = 10) race_results
            JOIN
            (SELECT runner_id, 
            CONCAT('Train Dist(mi): ', SUM(distance)) as train_dist, 
            CONCAT('Train Time: ', SUM(duration)) as train_dur, 
            CONCAT('Average Pace(min/mi): ', SUM(((date_part('seconds', duration)) + (date_part('minutes', duration)*60) + (date_part('hours', duration)*60*60))/60)/SUM(distance)) as train_pace
            FROM runs
            WHERE runner_id IN (SELECT runner_id FROM runs WHERE race_id = 10)
            AND date > (SELECT date FROM runs WHERE race_id = 10 LIMIT 1) - INTERVAL '1 months'
            GROUP BY runner_id) training_data
            ON race_results.runner_id = training_data.runner_id
            ORDER BY race_results.duration, age
            ''').fetchall()

[(19, 'user19', 'Age(years): 24', 'Race Time: 01:04:50', 'Train Dist(mi): 48.96', 'Train Time: 06:38:36', 'Average Pace(min/mi): 8.14133938719105'),
 (33, 'user33', 'Age(years): 29', 'Race Time: 01:04:50', 'Train Dist(mi): 48.05', 'Train Time: 06:31:50', 'Average Pace(min/mi): 8.15469944739158'),
 (29, 'user29', 'Age(years): 30', 'Race Time: 01:04:50', 'Train Dist(mi): 33.95', 'Train Time: 04:37:53', 'Average Pace(min/mi): 8.18507590835393'),
 (11, 'user11', 'Age(years): 32', 'Race Time: 01:04:50', 'Train Dist(mi): 45.79', 'Train Time: 06:13:19', 'Average Pace(min/mi): 8.15279884696563'),
 (42, 'user42', 'Age(years): 36', 'Race Time: 01:04:50', 'Train Dist(mi): 25.83', 'Train Time: 03:28:00', 'Average Pace(min/mi): 8.05265197887606'),
 (45, 'user45', 'Age(years): 39', 'Race Time: 01:04:50', 'Train Dist(mi): 36.03', 'Train Time: 04:53:36', 'Average Pace(min/mi): 8.14876433145026'),
 (1, 'user1', 'Age(years): 40', 'Race Time: 01:04:50', 'Train Dist(mi): 28.3', 'Train Time: 03:51:19', 'Average Pace(min/mi): 8.17373347394244'),
 (14, 'user14', 'Age(years): 44', 'Race Time: 01:04:50', 'Train Dist(mi): 23.28', 'Train Time: 03:08:21', 'Average Pace(min/mi): 8.09063550019766'),
 (4, 'user4', 'Age(years): 48', 'Race Time: 01:04:50', 'Train Dist(mi): 42.58', 'Train Time: 05:45:01', 'Average Pace(min/mi): 8.10278656247114'),
 (8, 'user8', 'Age(years): 49', 'Race Time: 01:04:50', 'Train Dist(mi): 36.03', 'Train Time: 04:53:36', 'Average Pace(min/mi): 8.14876433145026'),
 (41, 'user41', 'Age(years): 51', 'Race Time: 01:04:50', 'Train Dist(mi): 30.85', 'Train Time: 04:10:58', 'Average Pace(min/mi): 8.13506202798661'),
 (3, 'user3', 'Age(years): 52', 'Race Time: 01:04:50', 'Train Dist(mi): 38.58', 'Train Time: 05:13:15', 'Average Pace(min/mi): 8.11949157938742'),
 (27, 'user27', 'Age(years): 53', 'Race Time: 01:04:50', 'Train Dist(mi): 34.49', 'Train Time: 04:40:11', 'Average Pace(min/mi): 8.12361031307982'),
 (22, 'user22', 'Age(years): 53', 'Race Time: 01:04:50', 'Train Dist(mi): 42.58', 'Train Time: 05:45:01', 'Average Pace(min/mi): 8.10278656247114'),
 (26, 'user26', 'Age(years): 57', 'Race Time: 01:04:50', 'Train Dist(mi): 28.93', 'Train Time: 03:54:55', 'Average Pace(min/mi): 8.12017504972644'),
 (43, 'user43', 'Age(years): 57', 'Race Time: 01:04:50', 'Train Dist(mi): 24.48', 'Train Time: 03:19:18', 'Average Pace(min/mi): 8.14134002152'),
 (25, 'user25', 'Age(years): 59', 'Race Time: 01:04:50', 'Train Dist(mi): 14.1', 'Train Time: 01:53:57', 'Average Pace(min/mi): 8.08156006504464'),
 (16, 'user16', 'Age(years): 61', 'Race Time: 01:04:50', 'Train Dist(mi): 14.1', 'Train Time: 01:53:57', 'Average Pace(min/mi): 8.08156006504464'),
 (50, 'user50', 'Age(years): 64', 'Race Time: 01:04:50', 'Train Dist(mi): 45.61', 'Train Time: 06:13:34', 'Average Pace(min/mi): 8.19045451487624'),
 (34, 'user34', 'Age(years): 64', 'Race Time: 01:04:50', 'Train Dist(mi): 34.58', 'Train Time: 04:41:29', 'Average Pace(min/mi): 8.14006126166674'),
 (28, 'user28', 'Age(years): 65', 'Race Time: 01:04:50', 'Train Dist(mi): 30.13', 'Train Time: 04:05:52', 'Average Pace(min/mi): 8.16019493909641'),
 (18, 'user18', 'Age(years): 68', 'Race Time: 01:04:50', 'Train Dist(mi): 32.5', 'Train Time: 04:25:46', 'Average Pace(min/mi): 8.1774358974359'),
 (47, 'user47', 'Age(years): 70', 'Race Time: 01:04:50', 'Train Dist(mi): 20.84', 'Train Time: 02:50:05', 'Average Pace(min/mi): 8.1613882959695'),
 (7, 'user7', 'Age(years): 72', 'Race Time: 01:04:50', 'Train Dist(mi): 27.21', 'Train Time: 03:41:45', 'Average Pace(min/mi): 8.14957706420713'),
 (37, 'user37', 'Age(years): 79', 'Race Time: 01:04:50', 'Train Dist(mi): 33.49', 'Train Time: 04:31:55', 'Average Pace(min/mi): 8.11933869927221'),
 (48, 'user48', 'Age(years): 79', 'Race Time: 01:04:50', 'Train Dist(mi): 48.96', 'Train Time: 06:38:36', 'Average Pace(min/mi): 8.14133938719105'),
 (17, 'user17', 'Age(years): 84', 'Race Time: 01:04:50', 'Train Dist(mi): 38.94', 'Train Time: 05:15:48', 'Average Pace(min/mi): 8.10991217771982'),
 (44, 'user44', 'Age(years): 87', 'Race Time: 01:04:50', 'Train Dist(mi): 39.96', 'Train Time: 05:27:00', 'Average Pace(min/mi): 8.18318258947856'),
 (21, 'user21', 'Age(years): 87', 'Race Time: 01:04:50', 'Train Dist(mi): 33.77', 'Train Time: 04:35:05', 'Average Pace(min/mi): 8.14579003862856'),
 (6, 'user6', 'Age(years): 89', 'Race Time: 01:04:50', 'Train Dist(mi): 24.48', 'Train Time: 03:19:18', 'Average Pace(min/mi): 8.14134002152'),
 (46, 'user46', 'Age(years): 90', 'Race Time: 01:04:50', 'Train Dist(mi): 44.59', 'Train Time: 06:02:22', 'Average Pace(min/mi): 8.12663454644517')]

# disconnect from db

In [3]:
con.close()